.input__numbers {
  width: 100%;
  border: hidden;
  color: #000;
  outline: none;
  max-height: 10rem;
  font-size: 3rem;
  background-color: #fff;
}

.input__numbers,
::placeholder {
  font-weight: 600;
  text-align: right;
  font-family: sans-serif;
  letter-spacing: 0.3rem;
}

/* Buttons */

#buttons-section {
  background-color: #191825;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.row {
  text-align: center;
}

.col button {
  background: none;
  color: #fff;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

i {
  position: relative;
  z-index: -1;
  color: purple;
}

.offcanvas-body {
  background-color: purple;
  color: #fff;
}